ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
update_config=1

{% for nw in pi_wifi_networks %}
network={
    country="{{nw.country}}"
    ssid="{{nw.ssid}}"
    psk="{{nw.psk}}"
}
{% endfor %}

{% if pi_wifi_networks_roaming == "true" %}
network={
        key_mgmt=NONE
}
{% endif %}
