ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
update_config=1
country=FI

{% for nw in pi_wifi_networks %}
network={
    ssid="{{nw.ssid}}"
    psk="{{nw.psk}}"
}
{% endfor %}

{% if pi_wifi_networks_roaming %}
network={
        key_mgmt=NONE
}
{% endif %}

